# Dependencies
node_modules/

# Hardhat
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Environment
.env
.env.local

# Build
dist/
*.tsbuildinfo

# Debug
*.dbg.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
